Source: cybsso
Section: admin
Priority: optional
Maintainer: Cyril Bouthors <cyb@debian.org>
Uploaders: Cyril Bouthors <cyril@bouthors.org>
Build-Depends: debhelper (>= 5), phpunit, php5-xdebug | php-xdebug, doxygen
Standards-Version: 3.9.1

Package: cybsso
Architecture: all
Depends: libapache2-mod-php5 | php5-cgi,
    apache2,
    php5-mysql|php-mysql,
    cybphp,
    ${misc:Depends}
Description: API to manage SSO
 API to handle SSO functions.
